.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 0;
  }
  
  .card {
    margin: 0 4% !important;
  }
  
  .infected {
    border-bottom: 10px solid rgba(0, 0, 255, 0.5);
  }

  .active {
    border-bottom: 10px solid rgba(7, 7, 27, 0.5);
  }
  
  .recovered{
    border-bottom: 10px solid rgba(0, 255, 0, 0.5);
  }
  
  .deaths{
    border-bottom: 10px solid rgba(255, 0, 0, 0.5);
  }
  
  @media only screen and (max-width: 77px) {
    .card {
      margin: 10% 0 !important;
    }
  }